.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* aspect ratio */
  vertical-align: top;
  overflow: hidden;
}

.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
}

:local(.graphBodyStyle) {
  /* Needed to prevent global scoping to all <body> tags: "If your styles are altering the <body> tag, they will have a global impact. Ensure that styles targeting the body are either modularized or explicitly scoped." – CDC 2024-12-18 */
  background-color: #2d3b62;
  overflow: hidden;
}

h1{
  color: white;
}