

button {
  background-color: #fff0;
  border: none;
  outline: none;
  color: var(--color-fg-bright);
}

.sortButtons, .addNewLemma {
  font-size: 0.8em;
  text-shadow: 0 0 3px #FFD2;
}
.addNewLemma:hover, .sortButtons:hover {
  filter: drop-shadow(0 0 3px #ffe6);
}

/* .lemma-list {
  color: var(--color-fg-bright);
} */

.lemmaList {
  text-shadow: 0 0 8px #2D3B62FF;
}
.lemmaList:hover {
  text-shadow: 0 0 4px #FFE6;
}


/*
.lemmaListEntry, .lemmaListEntryActive {
  color: #FFEA;
  display: inline-block;
  margin: 0.5rem 0;
  cursor: pointer;
}
.lemmaListEntryActive {
  color: #FFEF;
  filter: drop-shadow(0 0 2px #FFE6);
}

.lemmataListItem {
  display: list-item;
  min-width: 20vw;
  max-width: 28vw;
}
*/


.lemmaList li {
  color: #ffea;
}


.selectLanguages {
  color: var(--color-fg-bright);
  margin-top: 0.5vw;
  float: right;
}
.selectLangauges:hover {
  filter: drop-shadow(0 0 3px #ffe8);
}